img {
    width: 50vw;
    object-fit: cover;
}

body {
    
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: purple !important;
    width: 100vw;
    position: fixed;
    top: 0;
    left:0;
}

#login-form {
    padding-left: 100px;    
}